@media (max-width: 1400px){
    .container p{
        font-size: 80%;
    }
}
@media (max-width: 600px) {
    .container p{
        font-size: 40%;
    }
}
body{
    background-color:#CAE9FF
}
nav{
    background-color: #CAE9FF;
}
.titulo{
    font-family: 'poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    
}
h3{
    color: black;
    text-align: center;
    font-family: "nunito";
}
.background{
    background-color:#457b9d;
    width: 100%;
    height: 450px;
}
.background-box{
    background-color:#CAE9FF;
    width: 80%;
    height: 300px;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #15242e;
}
.img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
.frase{
    font-family:"nunito";
    font-size:100%;
    font-weight: 600;
    margin: 30px 50px;
    text-align: center;
}
h2{
    font-family: "nunito";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
}
.img1{
    width: 40%;
    height: 100%;
}
.container p{
    width: 100%;
    height: 80%;
    font-size: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-left: 0;
   
}
.carousel-item img {
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    height: 450px; /* Ajusta la altura de las imágenes */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .carousel-indicators button {
    background-color:black; /* Color de fondo de los indicadores */
    opacity: 0.5; /* Opacidad de los indicadores */
  }
  
  .carousel-indicators .active {
    background-color: #457b9d; /* Color de fondo del indicador activo */
    opacity: 1; /* Opacidad del indicador activo */
  }
  
  